/build
/msp430-gcc-9.3.1.11_linux64
/.vscode
/ccs/.jxbrowser.userdata/
/ccs/.metadata/
/ccs/dvt/
/ccs/RemoteSystemsTempFiles/
/documentation/
/lib/gpio/build/
/lib/platform/build/
/lib/icu/build/
/lib/bcm/build/
/lib/timer/build/
/lib/wdt/build/
/examples/timer/build
